.about {
	margin: 40px;
	display: flex;
	flex-direction: column;
}
.about > p {
	margin: 15px;
	text-align: justify;
    text-justify: inter-word;
    color: rgb(24, 24, 24);
}
.about__images{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.about__images > img {
	object-fit: contain;
    height: 200px;
    margin: 60px;
}
