.mainTitle {
	display: flex;
	width: 100%;
	border: 1px solid rgb(37, 0, 139);
    background-color: rgb(0, 89, 124);
	align-items: center;
	justify-content: center;
}
.mainTitle > h1 {
    margin: 20px;
    color: white;
}
